html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: $secondFontFamily;
    font-size: 18px;
    color: $ColorLogo1st;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-family: $secondFontFamily;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 1360px;
    padding: 0 15px;
}