$mainFontFamily: 'Poppins',
sans-serif;
$secondFontFamily: 'Rubik',
sans-serif;

// for global

$BgColorMain: #212025;
$BgColorMain2: #676CDB;
$BgColorMain3:#F5F6F6;
$ColorLogo1st:#ffffff;
$ColorLogo2th: #676CDB;
$ColorFonts:#9f9f9f;