/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: #ffffff;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 1360px;
  padding: 0 15px;
}

.navbar {
  display: block;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 87px;
  padding: 0;
  width: 100%;
  line-height: 27px;
  background-color: transparent;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.navbar--move {
  background-color: #212025;
  height: 87px;
}
.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.navbar__left {
  width: 20%;
}
.navbar__logo {
  color: #ffffff;
}
.navbar__logo span {
  color: #676CDB;
}
.navbar__center {
  width: 60%;
  padding: 0 300px 0 100px;
}
.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
}
.navbar__link {
  color: #ffffff;
}
.navbar__link span {
  color: #676CDB;
}
.navbar__right {
  width: 10%;
}
.navbar__button {
  display: inline-block;
  color: #ffffff;
  padding: 0 5px 0 5px;
}

.portfolio {
  padding: 0;
  background-color: #212025;
}
.portfolio .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio__left {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 75%;
  z-index: 8;
  height: 800px;
  background-color: #212025;
}
.portfolio__left h1 {
  padding: 155px 250px 0 15px;
  font-family: "Rubik", sans-serif;
  font-size: 72px;
}
.portfolio__left p {
  display: block;
  padding: 0 250px 0 15px;
  margin: 24px 0 40px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: #9f9f9f;
}
.portfolio__button {
  margin-left: 15px;
  display: inline-block;
  background-color: #676CDB;
  color: #ffffff;
  padding: 20px;
  border: 0;
  border-radius: 55px;
}
.portfolio__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 25%;
  z-index: 8;
  height: 800px;
  background-color: #676CDB;
}
.portfolio__right img {
  display: block;
  z-index: 5;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  width: 530px;
}
.portfolio__meter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0 0;
  padding: 0 0 56px;
  font-family: "Poppins", sans-serif;
}
.portfolio__meter h2 {
  margin: 0;
  padding: 0 0 0 15px;
  font-size: 48px;
}
.portfolio__meter p {
  margin: 0 0 15px;
  padding: 0 0 0 15px;
  font-size: 20px;
}
.portfolio__client h2 {
  margin: 0;
  padding: 0 200px 0 0;
  font-size: 48px;
}
.portfolio__client p {
  margin: 0 0 15px;
  padding: 0 200px 0 0;
  font-size: 20px;
}

.services {
  background-color: #F5F6F6;
  padding: 120px 0 0;
}
.services .container {
  width: 100%;
  background-color: #F5F6F6;
}
.services__main p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #676CDB;
  margin: 0 0 5px;
  text-align: center;
}
.services__main h2 {
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  color: #212025;
  text-align: center;
  margin: 0;
}
.services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 80px 15px;
}
.services__box i {
  font-size: 72px;
  color: #212025;
  padding: 30px;
}
.services__box h3 {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  color: #212025;
  padding: 0 30px;
}
.services__box p {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: #9f9f9f;
  padding: 0 30px;
  line-height: 1.5;
}
.services__box-element {
  background-color: #ffffff;
  border-radius: 25px;
}

.about {
  width: 100%;
  background-color: #F5F6F6;
  padding: 100px 0 200px 0;
}
.about .container {
  padding: 0;
}
.about__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.about__left {
  width: 60%;
  padding-left: 15px;
}
.about__left img {
  border-radius: 20px;
}
.about__right p:nth-child(1) {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  color: #676CDB;
  margin: 0;
  padding: 0 0 5px;
}
.about__right h2 {
  padding: 0;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  color: #212025;
}
.about__right p {
  padding: 0 0 15px;
  margin: 0 0 50px 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: #9f9f9f;
  line-height: 1.5;
}
.about__right__icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__right a:nth-of-type(1) {
  display: inline;
  background-color: #676CDB;
  color: #ffffff;
  border: 0;
  border-radius: 50px;
  font-size: 18px;
  padding: 15px 40px;
  line-height: 27px;
}
.about__right i {
  position: relative;
  bottom: -13px;
  display: inline;
  padding-left: 50px;
  font-size: 52px;
  color: #212025;
  line-height: 27px;
}
.about__right span {
  margin: 0 0 0 10px;
  color: #212025;
}

.gallery {
  width: 100%;
  background-color: #F5F6F6;
  padding-top: 20px;
  height: 1300px;
}
.gallery__main p {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  color: #676CDB;
  margin: 0 0 5px;
  text-align: center;
}
.gallery__main h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  color: #212025;
  text-align: center;
  margin: 0;
}
.gallery__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 300px 40px 0;
}
.gallery__menu a:nth-child(1) {
  padding-left: 300px;
  color: #676CDB;
}
.gallery__menu a {
  color: #212025;
  padding: 40px 0;
}
.gallery__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.gallery__photo {
  width: 33.3333333333%;
}
.gallery__photo img {
  width: 100%;
  vertical-align: middle;
  border-radius: 25px;
  padding: 15px;
}

.testimonial {
  width: 100%;
  background-color: #F5F6F6;
  padding-top: 20px;
}
.testimonial__main p {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  color: #676CDB;
  padding: 0 0 5px;
  margin: 0;
}
.testimonial__main h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  color: #212025;
  padding: 0;
  margin: 0;
}
.testimonial__boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-bottom: 100px;
}
.testimonial__box {
  width: 50%;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 48px 36px 30px;
  margin-top: 50px;
}
.testimonial__box p {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: #9f9f9f;
  padding: 0 0 15px;
}
.testimonial__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.testimonial__author-profil img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.testimonial__author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0;
}
.testimonial__author-info h3 {
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  color: #212025;
  padding: 0 20px;
  margin: 8px;
}
.testimonial__author-info p {
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  color: #9f9f9f;
  padding: 0 20px;
  margin: 8px;
  font-style: italic;
}
.testimonial__box-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 112px;
  background-color: #676CDB;
  border-radius: 25px;
}