.about {
    width: 100%;
    background-color: $BgColorMain3;
    padding: 100px 0 100px 0;



    .container {
        padding: 0;

    }

    &__main {
        display: flex;
        align-items: flex-start;
        width: 100%;

    }


    &__left {
        width: 60%;
        height: 500px;
        padding-left: 15px;

        img {
            position: relative;
            top: -270px;
            left: 0;
            z-index: 15;
            border-radius: 25px;
        }
    }

    &__square {
        display: block;
        border-radius: 25px;
        position: relative;
        top: 200px;
        right: 40px;
        z-index: 10;
        width: 270px;
        height: 270px;
        background-color: $BgColorMain2;
    }

    &__right {
        p:nth-child(1) {
            font-family: $secondFontFamily;
            font-size: 22px;
            color: $BgColorMain2;
            margin: 0;
            padding: 0 0 5px;
        }

        h2 {
            padding: 0;
            margin-top: 0;
            font-family: $mainFontFamily;
            font-size: 48px;
            color: $BgColorMain;


        }

        p {
            padding: 0 0 15px;
            margin: 0 0 50px 0;
            font-family: $secondFontFamily;
            font-size: 18px;
            color: $ColorFonts;
            line-height: 1.5;

        }

        &__icons {
            width: 100%;
            display: flex;
            align-items: center;

        }

        a:nth-of-type(1) {
            display: inline;
            background-color: $BgColorMain2;
            color: $ColorLogo1st;
            border: 0;
            border-radius: 50px;
            font-size: 18px;
            padding: 15px 40px;
            line-height: 27px;
        }

        i {
            position: relative;
            bottom: -13px;
            display: inline;
            padding-left: 50px;
            font-size: 52px;
            color: $BgColorMain;
            line-height: 27px;
        }

        span {
            margin: 0 0 0 10px;
            color: $BgColorMain;
        }





    }
}