.navbar {
    padding: 30px 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 12;
    background-color: $BgColorMain;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__left {
        width: 25%;
    }

    &__logo {
        span {
            color: $ColorLogo2th;
        }
    }

    &__center {
        width: 50%;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__link {
        gap: 40px;
    }



}